<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Entity Framework Connection String for the application's SQL Azure database-->
    <add key="SQLAzureDatabaseEntityFrameworkConnectionString" value="metadata=res://*/SmartEnergyModel.csdl|res://*/SmartEnergyModel.ssdl|res://*/SmartEnergyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=**MyAzureSQLServerName**.database.windows.net;initial catalog=**MyAzureSQLDatabaseName**;persist security info=True;user id=**MyAzureSQLUserName**;password=**MyAzureSQLPassword**;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <!-- End Entity Framework Connection String for the application's SQL Azure database-->

    <!-- Settings for the Wunderground Weather API -->
    <add key="WundergroundApiUrl" value="http://api.wunderground.com/api/" />
    <add key="WundergroundApiKey" value="**MyWundergroundApiKey**" />
    <!-- End Settings for the Wunderground Weather API -->

    <!-- Settings for the Azure Storage Account used by the solution -->
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=**MyAzureStorageAccountName**;AccountKey=**MyAzureStorageAccountKey**" />
    <!-- End Settings for the Azure Storage Account used by the solution -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>