<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!-- Entity Framework Connection String for the application's SQL Azure database-->
    <add key="SQLAzureDatabaseEntityFrameworkConnectionString" value="metadata=res://*/SmartEnergyModel.csdl|res://*/SmartEnergyModel.ssdl|res://*/SmartEnergyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=**MyAzureSQLServerName**.database.windows.net;initial catalog=**MyAzureSQLDatabaseName**;persist security info=True;user id=**MyAzureSQLServerUserName**;password=**MyAzureSQLPassword**;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <!-- End Entity Framework Connection String for the application's SQL Azure database-->

    <!-- Settings for the Wunderground Weather API -->
    <add key="WundergroundApiUrl" value="http://api.wunderground.com/api/" />
    <add key="WundergroundApiKey" value="**MyWundergroundApiKey**" />
    <!-- End Settings for the Wunderground Weather API -->

    <!-- Settings for the Dark Sky Weather API -->
    <add key="DarkSkyApiUrl" value="https://api.darksky.net/" />
    <add key="DarkSkyApiKey" value="**MyDarkSkyApiKey**" />
    <!-- End Settings for the Dark Sky Weather API -->

    <!-- Settings for the WattTime Carbon Emissions API -->
    <add key="WattTimeApiUrl" value="https://api.watttime.org/api/" />
    <add key="WattTimeApiKey" value="**MyWattTimeApiKey**" />
    <add key="WattTimeApiV2Url" value="https://api2.watttime.org/" />
    <add key="WattTimeUsername" value="**MyWattTimeUsername**" />
    <add key="WattTimePassword" value="**MyWattTimePassword**!" />
    <add key="WattTimeEmail" value="**MyWattTimeEmail**" />
    <add key="WattTimeOrganization" value="**MyWattTimeOrganization**" />
    <!-- End Settings for the WattTime Carbon Emissions API -->

    <!-- Settings for the Azure Storage Account used by the solution -->
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=**MyAzureStorageAccountName**;AccountKey=**MyAzureStorageAccountKey**" />
    <!-- End Settings for the Azure Storage Account used by the solution -->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>