<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Entity Framework Connection String for the application's SQL Azure database-->
    <add key="SQLAzureDatabaseEntityFrameworkConnectionString" value="metadata=res://*/SmartEnergyModel.csdl|res://*/SmartEnergyModel.ssdl|res://*/SmartEnergyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=**MyAzureSQLServerName**.database.windows.net;initial catalog=**MyAzureSQLDatabaseName**;persist security info=True;user id=**MyAzureSQLUserName**;password=**MyAzureSQLPassword**;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <!-- End Entity Framework Connection String for the application's SQL Azure database-->
    
    <!-- Settings for the WattTime Carbon Emissions API -->
    <add key="WattTimeApiUrl" value="https://api.watttime.org/api/v1/" />
    <add key="WattTimeApiKey" value="**MyWattTimeApiKey**" />
    <!-- End Settings for the WattTime Carbon Emissions API -->

    <!-- Settings for the Azure Storage Account used by the solution -->
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=**MyAzureStorageAccountName**;AccountKey=**MyAzureStorageAccountKey**" />
    <!-- End Settings for the Azure Storage Account used by the solution -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>