<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Entity Framework Connection String for the application's SQL Azure database-->
    <add key="SQLAzureDatabaseEntityFrameworkConnectionString" value="metadata=res://*/SmartEnergyModel.csdl|res://*/SmartEnergyModel.ssdl|res://*/SmartEnergyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=**MyAzureSQLServerName**.database.windows.net;initial catalog=**MyAzureSQLDatabaseName**;persist security info=True;user id=**MyAzureSQLServerName**;password=**MyAzureSQLPassword**;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <!-- End Entity Framework Connection String for the application's SQL Azure database-->

    <!-- Url of the Data API-->
    <add key="DataApiUrl" value="http://**MyDataApiUrl**.azurewebsites.net/" />
    <!-- End Url of the Data API-->
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>